CLIENT_ID=
CLIENT_SECRET=

BOT_ID=
OWNER_ID=

PREFIX=!
DATABASE_PATH=tokens.db

IGNORED_USERS=streamelements,nightbot

DISCORD=
YOUTUBE=

DAILY_REDEEM_TITLE=Steal some cheese
FIRST_REDEEM_TITLE=first
DAILY_REDEEM_BREAD=100
FIRST_REDEEM_BREAD=250