
# ==========================================
# Twitch Credentials
# ==========================================
CLIENT_ID=
CLIENT_SECRET=

# ==========================================
# Bot Info
# ==========================================
BOT_ID=
OWNER_ID=

PREFIX=!
DATABASE_PATH=

IGNORED_USERS=

STREAM_LOGS_PATH=

# ==========================================
# Redemptions
# ==========================================
DAILY_REDEEM_TITLE=
FIRST_REDEEM_TITLE=

DAILY_REDEEM_BREAD=
FIRST_REDEEM_BREAD=

# ==========================================
# OAuth
# ==========================================
ADMIN_HOST=
ADMIN_PORT=
ADMIN_BASE_URL=

BOT_REDIRECT_URI=
CHANNEL_REDIRECT_URI=

BOT_SCOPES=
CHANNEL_SCOPES=

ADMIN_SECRET=
SESSION_SECRET=

# ==========================================
# Moderation
# ==========================================

SERYBOT_USER_ID=402337290

# options: learning, shadow, active
BOT_DETECTION_MODE=

# ==========================================
# Logging
# ==========================================
LOG_LEVEL=INFO
