# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# SQLite
# ==========================================

*.db
*.db-shm
*.db-wal

# ==========================================
# TwitchIO
# ==========================================

.tio.tokens.json

# ==========================================
# IDEs
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log
/.data/
/.dataTest/
/.pytest_cache/
