twitchio~=3.2.2
asqlite~=2.0.0

python-dotenv~=1.2.2
pystray~=0.19.5
pillow~=12.3.0

fastapi~=0.139.0
uvicorn~=0.51.0
jinja2
httpx~=0.28.1

rich~=14.1.0

itsdangerous
python-multipart
starlette~=1.3.1

pytest
pytest-asyncio